{
    "openapi": "3.0.0",
    "info": {
        "title": "collegeget",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://gd4d01c5ed5180a-dyrdbtestadw.adb.me-dubai-1.oraclecloudapps.com/ords/dyrords/1326",
            "description": "Ords Dyrords"
        }
    ],
    "paths": {
        "/collegeget": {
            "get": {
                "operationId": "getCollegeget",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetCollegeget"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getCollegeget/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        },
        "/collegegetid": {
            "get": {
                "operationId": "getCollegegetid",
                "parameters": [
                    {
                        "name": "staff_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "number"
                        },
                        "x-vb": {
                            "defaultValue": "0"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetCollegegetid"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getCollegegetid/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        },
        "/collegeget/{P_METHOD}/{P_PRIMARYKEY}": {
            "parameters": [
                {
                    "name": "P_METHOD",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    },
                    "x-vb": {
                        "defaultValue": "POST"
                    }
                },
                {
                    "name": "P_PRIMARYKEY",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "number"
                    },
                    "x-vb": {
                        "defaultValue": "0"
                    }
                }
            ],
            "post": {
                "operationId": "collegepost",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostCollegegetP_METHODP_PRIMARYKEYRequest"
                            },
                            "examples": {
                                "vb": {
                                    "externalValue": "./examples/collegepost/request_application_json_vb.json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostCollegegetP_METHODP_PRIMARYKEYResponse"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/collegepost/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        },
        "/studentdetailsget": {
            "get": {
                "operationId": "studentdetailget",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetStudentdetailsget"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/studentdetailget/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        },
        "/studentdetailsgetidpk": {
            "get": {
                "operationId": "Studentdetailsgetidpk",
                "parameters": [
                    {
                        "name": "student_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "number"
                        },
                        "x-vb": {
                            "defaultValue": "0"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetStudentdetailsgetidpk"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/Studentdetailsgetidpk/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        },
        "/studentdetailsfk": {
            "get": {
                "operationId": "Studentdetailsgetidfk",
                "parameters": [
                    {
                        "name": "staff_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "number"
                        },
                        "x-vb": {
                            "defaultValue": "0"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetStudentdetailsfk"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/Studentdetailsgetidfk/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        },
        "/studentstatusget": {
            "get": {
                "operationId": "getStudentstatusget",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetStudentstatusget"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getStudentstatusget/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        },
        "/studentdetails/{P_METHOD}/{P_PRIMARYKEY}": {
            "parameters": [
                {
                    "name": "P_METHOD",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    },
                    "x-vb": {
                        "defaultValue": "POST"
                    }
                },
                {
                    "name": "P_PRIMARYKEY",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "number"
                    },
                    "x-vb": {
                        "defaultValue": "0"
                    }
                }
            ],
            "post": {
                "operationId": "studentdetailspost",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostStudentdetailsP_METHODP_PRIMARYKEYRequest"
                            },
                            "examples": {
                                "vb": {
                                    "externalValue": "./examples/studentdetailspost/request_application_json_vb.json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostStudentdetailsP_METHODP_PRIMARYKEYResponse"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/studentdetailspost/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        },
        "/studentstatusgetidpk": {
            "get": {
                "operationId": "Studentstatusgetidpk",
                "parameters": [
                    {
                        "name": "student_statusid",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "number"
                        },
                        "x-vb": {
                            "defaultValue": "0"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetStudentstatusgetidpk"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/Studentstatusgetidpk/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        },
        "/studentstatusidfks": {
            "get": {
                "operationId": "Studentstatusidfks",
                "parameters": [
                    {
                        "name": "student_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "number"
                        },
                        "x-vb": {
                            "defaultValue": "0"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetStudentstatusidfks"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/Studentstatusidfks/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        },
        "/studentstatus/{P_METHOD}/{P_PRIMARYKEY}": {
            "parameters": [
                {
                    "name": "P_METHOD",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    },
                    "x-vb": {
                        "defaultValue": "POST"
                    }
                },
                {
                    "name": "P_PRIMARYKEY",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "number"
                    },
                    "x-vb": {
                        "defaultValue": "0"
                    }
                }
            ],
            "post": {
                "operationId": "studentstatuspost",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostStudentstatusP_METHODP_PRIMARYKEYRequest"
                            },
                            "examples": {
                                "vb": {
                                    "externalValue": "./examples/studentstatuspost/request_application_json_vb.json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostStudentstatusP_METHODP_PRIMARYKEYResponse"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/studentstatuspost/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        }
    },
    "components": {
        "schemas": {
            "GetCollegeget": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "staff_id": {
                                    "type": "integer"
                                },
                                "staff_name": {
                                    "type": "string"
                                },
                                "email": {
                                    "type": "string"
                                },
                                "dob": {
                                    "type": "string"
                                },
                                "date_of_joining": {
                                    "type": "string"
                                },
                                "gender": {
                                    "type": "string"
                                },
                                "phone_number": {
                                    "type": "integer"
                                },
                                "salary": {
                                    "type": "integer"
                                },
                                "address": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "hasMore": {
                        "type": "boolean"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "count": {
                        "type": "integer"
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string"
                                },
                                "href": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "GetCollegegetid": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "staff_id": {
                                    "type": "integer"
                                },
                                "staff_name": {
                                    "type": "string"
                                },
                                "email": {
                                    "type": "string"
                                },
                                "dob": {
                                    "type": "string"
                                },
                                "date_of_joining": {
                                    "type": "string"
                                },
                                "gender": {
                                    "type": "string"
                                },
                                "phone_number": {
                                    "type": "integer"
                                },
                                "salary": {
                                    "type": "integer"
                                },
                                "address": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "hasMore": {
                        "type": "boolean"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "count": {
                        "type": "integer"
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string"
                                },
                                "href": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "PostCollegegetP_METHODP_PRIMARYKEYRequest": {
                "type": "object",
                "properties": {
                    "staff_id": {
                        "type": "integer"
                    },
                    "staff_name": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "dob": {
                        "type": "string"
                    },
                    "date_of_joining": {
                        "type": "string"
                    },
                    "gender": {
                        "type": "string"
                    },
                    "phone_number": {
                        "type": "integer"
                    },
                    "salary": {
                        "type": "integer"
                    },
                    "address": {
                        "type": "string"
                    }
                }
            },
            "PostCollegegetP_METHODP_PRIMARYKEYResponse": {
                "type": "object",
                "properties": {
                    "p_err_code": {
                        "type": "string"
                    },
                    "p_err_msg": {
                        "type": "string"
                    },
                    "p_primarykey": {
                        "type": "integer"
                    }
                }
            },
            "GetStudentdetailsget": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "staff_id": {
                                    "type": "integer"
                                },
                                "student_id": {
                                    "type": "integer"
                                },
                                "student_name": {
                                    "type": "string"
                                },
                                "email": {
                                    "type": "string"
                                },
                                "dob": {
                                    "type": "string"
                                },
                                "department": {
                                    "type": "string"
                                },
                                "gender": {
                                    "type": "string"
                                },
                                "contact_number": {
                                    "type": "integer"
                                },
                                "address": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "hasMore": {
                        "type": "boolean"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "count": {
                        "type": "integer"
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string"
                                },
                                "href": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "GetStudentdetailsgetidpk": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "staff_id": {
                                    "type": "integer"
                                },
                                "student_id": {
                                    "type": "integer"
                                },
                                "student_name": {
                                    "type": "string"
                                },
                                "email": {
                                    "type": "string"
                                },
                                "dob": {
                                    "type": "string"
                                },
                                "department": {
                                    "type": "string"
                                },
                                "gender": {
                                    "type": "string"
                                },
                                "contact_number": {
                                    "type": "integer"
                                },
                                "address": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "hasMore": {
                        "type": "boolean"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "count": {
                        "type": "integer"
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string"
                                },
                                "href": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "GetStudentdetailsfk": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "staff_id": {
                                    "type": "integer"
                                },
                                "student_id": {
                                    "type": "integer"
                                },
                                "student_name": {
                                    "type": "string"
                                },
                                "email": {
                                    "type": "string"
                                },
                                "dob": {
                                    "type": "string"
                                },
                                "department": {
                                    "type": "string"
                                },
                                "gender": {
                                    "type": "string"
                                },
                                "contact_number": {
                                    "type": "integer"
                                },
                                "address": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "hasMore": {
                        "type": "boolean"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "count": {
                        "type": "integer"
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string"
                                },
                                "href": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "GetStudentstatusget": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "staff_id": {
                                    "type": "integer"
                                },
                                "student_id": {
                                    "type": "integer"
                                },
                                "student_statusid": {
                                    "type": "integer"
                                },
                                "student_name": {
                                    "type": "string"
                                },
                                "semester": {
                                    "type": "integer"
                                },
                                "attendance": {
                                    "type": "integer"
                                },
                                "lab_attendance": {
                                    "type": "integer"
                                },
                                "leave_taken": {
                                    "type": "integer"
                                },
                                "project_name": {
                                    "type": "string"
                                },
                                "project_mark": {
                                    "type": "integer"
                                },
                                "sem_marks": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "hasMore": {
                        "type": "boolean"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "count": {
                        "type": "integer"
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string"
                                },
                                "href": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "PostStudentdetailsP_METHODP_PRIMARYKEYRequest": {
                "type": "object",
                "properties": {
                    "staff_id": {
                        "type": "integer"
                    },
                    "student_id": {
                        "type": "integer"
                    },
                    "student_name": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "dob": {
                        "type": "string"
                    },
                    "department": {
                        "type": "string"
                    },
                    "gender": {
                        "type": "string"
                    },
                    "contact_number": {
                        "type": "integer"
                    },
                    "address": {
                        "type": "string"
                    }
                }
            },
            "PostStudentdetailsP_METHODP_PRIMARYKEYResponse": {
                "type": "object",
                "properties": {
                    "p_err_code": {
                        "type": "string"
                    },
                    "p_err_msg": {
                        "type": "string"
                    },
                    "p_primarykey": {
                        "type": "integer"
                    }
                }
            },
            "GetStudentstatusgetidpk": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "staff_id": {
                                    "type": "integer"
                                },
                                "student_id": {
                                    "type": "integer"
                                },
                                "student_statusid": {
                                    "type": "integer"
                                },
                                "student_name": {
                                    "type": "string"
                                },
                                "semester": {
                                    "type": "integer"
                                },
                                "attendance": {
                                    "type": "integer"
                                },
                                "lab_attendance": {
                                    "type": "integer"
                                },
                                "leave_taken": {
                                    "type": "integer"
                                },
                                "project_name": {
                                    "type": "string"
                                },
                                "project_mark": {
                                    "type": "integer"
                                },
                                "sem_marks": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "hasMore": {
                        "type": "boolean"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "count": {
                        "type": "integer"
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string"
                                },
                                "href": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "GetStudentstatusidfks": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "staff_id": {
                                    "type": "integer"
                                },
                                "student_id": {
                                    "type": "integer"
                                },
                                "student_statusid": {
                                    "type": "integer"
                                },
                                "student_name": {
                                    "type": "string"
                                },
                                "semester": {
                                    "type": "integer"
                                },
                                "attendance": {
                                    "type": "integer"
                                },
                                "lab_attendance": {
                                    "type": "integer"
                                },
                                "leave_taken": {
                                    "type": "integer"
                                },
                                "project_name": {
                                    "type": "string"
                                },
                                "project_mark": {
                                    "type": "integer"
                                },
                                "sem_marks": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "hasMore": {
                        "type": "boolean"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "count": {
                        "type": "integer"
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string"
                                },
                                "href": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "PostStudentstatusP_METHODP_PRIMARYKEYRequest": {
                "type": "object",
                "properties": {
                    "staff_id": {
                        "type": "integer"
                    },
                    "student_id": {
                        "type": "integer"
                    },
                    "student_statusid": {
                        "type": "integer"
                    },
                    "student_name": {
                        "type": "string"
                    },
                    "semester": {
                        "type": "integer"
                    },
                    "attendance": {
                        "type": "integer"
                    },
                    "lab_attendance": {
                        "type": "integer"
                    },
                    "leave_taken": {
                        "type": "integer"
                    },
                    "project_name": {
                        "type": "string"
                    },
                    "project_mark": {
                        "type": "integer"
                    },
                    "sem_marks": {
                        "type": "integer"
                    }
                }
            },
            "PostStudentstatusP_METHODP_PRIMARYKEYResponse": {
                "type": "object",
                "properties": {
                    "p_err_code": {
                        "type": "string"
                    },
                    "p_err_msg": {
                        "type": "string"
                    },
                    "p_primarykey": {
                        "type": "integer"
                    }
                }
            }
        }
    }
}