/**
 * To theme your application, just override the variable values you want to change. To find which variables can be changed,
 * see the JET documentation at https://www.oracle.com/webfolder/technetwork/jet/jsdocs/CssVariablesOverview.html
 * In general, we recommend using the Stable theme, as it reduces the chances of being impacted by changes over time.
 */
 
 :root {
    /* --oj-html-font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif; */
    /* --oj-html-font-size:   1em; */
 }


/* model-1 */
 .oj-actioncard {
      width: 8rem; 
      height: 8rem;
      padding: 1rem;
      box-shadow: 0 0px 15px 0 rgba(90, 30, 255, 0.938);
      transition: width 3s;
      border-radius: 50%;
 
  
} 
/* 
 .oj-actioncard:hover {

  width: 300px;
    
}  


 .oj-actioncard {
        box-sizing: border-box;
    width: 12rem;
    min-height: 6rem;
      padding: 1rem;
      box-shadow: 0 0px 15px 0 rgba(90, 30, 255, 0.938);
    
  
}

.oj-filmstrip {
    height: 40rem;
  
  }  */ 


