{
    "openapi": "3.0.0",
    "info": {
        "title": "CloudApplication",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://gd4d01c5ed5180a-dyrdbtestadw.adb.me-dubai-1.oraclecloudapps.com/ords/dyrords/cloud18",
            "description": "Ords Dyrords",
            "x-vb": {
                "forceProxy": "cors"
            }
        }
    ],
    "paths": {
        "/cloudsearch": {
            "get": {
                "operationId": "getCloudsearch",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetCloudsearch"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getCloudsearch/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        },
        "/headercloud/{P_METHOD}/{P_PRIMARYKEY}": {
            "parameters": [
                {
                    "name": "P_METHOD",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "P_PRIMARYKEY",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "number"
                    }
                }
            ],
            "post": {
                "operationId": "PostCloud18",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostHeadercloudP_METHODP_PRIMARYKEYRequest"
                            },
                            "examples": {
                                "vb": {
                                    "externalValue": "./examples/PostCloud18/request_application_json_vb.json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostHeadercloudP_METHODP_PRIMARYKEYResponse"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/PostCloud18/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        },
        "/company18": {
            "get": {
                "operationId": "Company18Getall",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetCompany18"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/Company18Getall/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        },
        "/company18/{P_METHOD}/{P_PRIMARYKEY}": {
            "parameters": [
                {
                    "name": "P_METHOD",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "P_PRIMARYKEY",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "operationId": "postCompany_18",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostCompany18P_METHODP_PRIMARYKEYRequest"
                            },
                            "examples": {
                                "vb": {
                                    "externalValue": "./examples/postCompany_18/request_application_json_vb.json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostCompany18P_METHODP_PRIMARYKEYResponse"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/postCompany_18/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "create"
                }
            }
        },
        "/companygetbyid": {
            "get": {
                "operationId": "Company18getbyid",
                "parameters": [
                    {
                        "name": "pcloud_id",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetCompanygetbyid"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/Company18getbyid/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        },
        "/service18/{P_METHOD}/{P_PRIMARYKEY}": {
            "parameters": [
                {
                    "name": "P_METHOD",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "P_PRIMARYKEY",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "operationId": "postService18",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostService18P_METHODP_PRIMARYKEYRequest"
                            },
                            "examples": {
                                "vb": {
                                    "externalValue": "./examples/postService18/request_application_json_vb.json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostService18P_METHODP_PRIMARYKEYResponse"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/postService18/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        },
        "/getservice18": {
            "get": {
                "operationId": "getGetservice18",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetGetservice18"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getGetservice18/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        },
        "/cloudgetbyid": {
            "get": {
                "operationId": "Cloudgetbyid",
                "parameters": [
                    {
                        "name": "pcloud_id",
                        "in": "query",
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetCloudgetbyid"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/Cloudgetbyid/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        },
        "/Companygetbypk": {
            "get": {
                "operationId": "Companygetbypk_18",
                "parameters": [
                    {
                        "name": "pcompanyid",
                        "in": "query",
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetCompanygetbypk"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/Companygetbypk_18/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        },
        "/servicegetbypk": {
            "get": {
                "operationId": "getServicegetbypk",
                "parameters": [
                    {
                        "name": "pservice_id",
                        "in": "query",
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetServicegetbypk"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getServicegetbypk/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        },
        "/servicegetbyfk": {
            "get": {
                "operationId": "Servicegetbyfk",
                "parameters": [
                    {
                        "name": "pcompanyid",
                        "in": "query",
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetServicegetbyfk"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/Servicegetbyfk/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        }
    },
    "components": {
        "schemas": {
            "GetCloudsearch": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "cloud_id": {
                                    "type": "integer"
                                },
                                "cloud_name": {
                                    "type": "string"
                                },
                                "cloud_provider": {
                                    "type": "string"
                                },
                                "email_id": {
                                    "type": "string"
                                },
                                "contact_number": {
                                    "type": "string"
                                },
                                "business_type": {
                                    "type": "string"
                                },
                                "started_year": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "founder_name": {
                                    "type": "string",
                                    "nullable": true
                                }
                            }
                        }
                    },
                    "hasMore": {
                        "type": "boolean"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "count": {
                        "type": "integer"
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string"
                                },
                                "href": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "PostHeadercloudP_METHODP_PRIMARYKEYRequest": {
                "type": "object",
                "properties": {
                    "cloud_id": {
                        "type": "integer"
                    },
                    "cloud_name": {
                        "type": "string"
                    },
                    "cloud_provider": {
                        "type": "string"
                    },
                    "email_id": {
                        "type": "string"
                    },
                    "contact_number": {
                        "type": "string"
                    },
                    "business_type": {
                        "type": "string"
                    },
                    "started_year": {
                        "type": "string"
                    },
                    "founder_name": {
                        "type": "string"
                    }
                }
            },
            "PostHeadercloudP_METHODP_PRIMARYKEYResponse": {
                "type": "object",
                "properties": {
                    "p_err_code": {
                        "type": "string"
                    },
                    "p_err_msg": {
                        "type": "string"
                    },
                    "p_primarykey": {
                        "type": "integer"
                    }
                }
            },
            "GetCompany18": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "company_id": {
                                    "type": "integer"
                                },
                                "company_name": {
                                    "type": "string"
                                },
                                "company_location": {
                                    "type": "string"
                                },
                                "company_mailid": {
                                    "nullable": true
                                },
                                "owner_name": {
                                    "nullable": true
                                },
                                "turnover_million": {
                                    "type": "integer"
                                },
                                "started_date": {
                                    "nullable": true
                                },
                                "cloud_id": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "hasMore": {
                        "type": "boolean"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "count": {
                        "type": "integer"
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string"
                                },
                                "href": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "PostCompany18P_METHODP_PRIMARYKEYRequest": {
                "type": "object",
                "properties": {
                    "company_id": {
                        "type": "integer"
                    },
                    "company_name": {
                        "type": "string"
                    },
                    "company_location": {
                        "type": "string"
                    },
                    "company_mailid": {
                        "type": "string"
                    },
                    "owner_name": {
                        "type": "string"
                    },
                    "turnover_million": {
                        "type": "integer"
                    },
                    "started_date": {
                        "nullable": true
                    },
                    "cloud_id": {
                        "type": "integer"
                    }
                }
            },
            "PostCompany18P_METHODP_PRIMARYKEYResponse": {
                "type": "object",
                "properties": {
                    "p_err_code": {
                        "type": "string"
                    },
                    "p_err_msg": {
                        "type": "string"
                    },
                    "p_primarykey": {
                        "type": "integer"
                    }
                }
            },
            "GetCompanygetbyid": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "company_id": {
                                    "type": "integer"
                                },
                                "company_name": {
                                    "type": "string"
                                },
                                "company_location": {
                                    "type": "string"
                                },
                                "company_mailid": {
                                    "nullable": true
                                },
                                "owner_name": {
                                    "nullable": true
                                },
                                "turnover_million": {
                                    "type": "integer"
                                },
                                "started_date": {
                                    "nullable": true
                                },
                                "cloud_id": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "hasMore": {
                        "type": "boolean"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "count": {
                        "type": "integer"
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string"
                                },
                                "href": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "PostService18P_METHODP_PRIMARYKEYRequest": {
                "type": "object",
                "properties": {
                    "service_id": {
                        "type": "integer"
                    },
                    "service_short_name": {
                        "type": "string"
                    },
                    "company_full_name": {
                        "type": "string"
                    },
                    "storage_used": {
                        "type": "string"
                    },
                    "started_date": {
                        "type": "string"
                    },
                    "bond_duration": {
                        "type": "string"
                    },
                    "bond_type": {
                        "type": "string"
                    },
                    "company_id": {
                        "type": "integer"
                    }
                }
            },
            "PostService18P_METHODP_PRIMARYKEYResponse": {
                "type": "object",
                "properties": {
                    "p_err_code": {
                        "type": "string"
                    },
                    "p_err_msg": {
                        "type": "string"
                    },
                    "p_primarykey": {
                        "type": "integer"
                    }
                }
            },
            "GetGetservice18": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "service_id": {
                                    "type": "integer"
                                },
                                "service_short_name": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "company_full_name": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "storage_used": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "started_date": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "bond_duration": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "bond_type": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "company_id": {
                                    "type": "integer",
                                    "nullable": true
                                }
                            }
                        }
                    },
                    "hasMore": {
                        "type": "boolean"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "count": {
                        "type": "integer"
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string"
                                },
                                "href": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "GetCloudgetbyid": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "cloud_id": {
                                    "type": "integer"
                                },
                                "cloud_name": {
                                    "type": "string"
                                },
                                "cloud_provider": {
                                    "type": "string"
                                },
                                "email_id": {
                                    "type": "string"
                                },
                                "contact_number": {
                                    "type": "string"
                                },
                                "business_type": {
                                    "type": "string"
                                },
                                "started_year": {
                                    "type": "string"
                                },
                                "founder_name": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "hasMore": {
                        "type": "boolean"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "count": {
                        "type": "integer"
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string"
                                },
                                "href": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "GetCompanygetbypk": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "company_id": {
                                    "type": "integer"
                                },
                                "company_name": {
                                    "type": "string"
                                },
                                "company_location": {
                                    "type": "string"
                                },
                                "company_mailid": {
                                    "nullable": true
                                },
                                "owner_name": {
                                    "nullable": true
                                },
                                "turnover_million": {
                                    "type": "integer"
                                },
                                "started_date": {
                                    "nullable": true
                                },
                                "cloud_id": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "hasMore": {
                        "type": "boolean"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "count": {
                        "type": "integer"
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string"
                                },
                                "href": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "GetServicegetbypk": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "service_id": {
                                    "type": "integer"
                                },
                                "service_short_name": {
                                    "type": "string"
                                },
                                "company_full_name": {
                                    "type": "string"
                                },
                                "storage_used": {
                                    "type": "string"
                                },
                                "started_date": {
                                    "type": "string"
                                },
                                "bond_duration": {
                                    "type": "string"
                                },
                                "bond_type": {
                                    "type": "string"
                                },
                                "company_id": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "hasMore": {
                        "type": "boolean"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "count": {
                        "type": "integer"
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string"
                                },
                                "href": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "GetServicegetbyfk": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "service_id": {
                                    "type": "integer"
                                },
                                "service_short_name": {
                                    "type": "string"
                                },
                                "company_full_name": {
                                    "type": "string"
                                },
                                "storage_used": {
                                    "type": "string"
                                },
                                "started_date": {
                                    "type": "string"
                                },
                                "bond_duration": {
                                    "type": "string"
                                },
                                "bond_type": {
                                    "type": "string"
                                },
                                "company_id": {
                                    "type": "integer"
                                }
                            }
                     }
                    },
                    "hasMore": {
                        "type": "boolean"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "count": {
                        "type": "integer"
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string"
                                },
                                "href": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}